#container2 {
  position: relative;
  height: 95vh;
  width: 100%;
  background: url('./bg2Canvas.svg');
  background-size: cover;
}

.showMe{
  z-index: 999;
  background: yellow;
  min-width: 300px;
  transition: 1s ease-in;
}

.hideMe{
  width: 0px !important;
  transition: 1s ease-out;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
